<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    
    <title>Explore the directory</title>
</head>

<body>
    <!-- Loader... -->
    <div class="loading" style="display: none">Loading&#8230;
        <br>
        <span class="overLayText">Creating ZIP packages...</span>
    </div>

    <div class="container">
        <div class="page-heading">
            <b> 
                Folder path: 
                <code id="folderPath">
                    <%= folderPath %>
                </code>
            </b>
        </div>
        <form action="#" method="post" id="packageForm" autocomplete="off">
            <div class="main-container">
                <div class="row">
                    
                    <div class="col-sm-7">
                        <h1>Operations</h1>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Disclaimer Sheet</h3>
                                </div>
                                <div class="panel-body">

                                    <% if( disClaimerSheetExist ) {%>
                                        <label class="checkmark-container">
                                                <span>Add Disclaimer sheet to each package</span>
                                                <input type="checkbox" id="disclaimerSheet" name="disclaimerSheet">
                                                <span class="checkmark"></span>
                                                
                                        </label>
                                        <b>Disclaimer sheet name:</b> <i id="disclaimerSheetName"><%= disclaimerSheetName %></i><br>
                                        <b>Disclaimer sheet location:</b> <i id="disclaimerSheetLocation"><%= disclaimerSheetLocation %></i><br>
                                        <b>Disclaimer sheet last modified:</b> <i><%= disclaimerSheetLastModified %></i><br>
                                        <br>
                                        <button class="btn btn-primary" data-toggle="modal" id="modalOpenBtn" data-target="#newDisclaimerSheetFormModal">
                                            Update the disclaimer sheet
                                        </button>
                                    <% } else { %>
                                        <div>
                                            <b>There are no disclaimer sheet uploaded.</b><br><br>
                                            <button class="btn btn-primary" data-toggle="modal" id="modalOpenBtn" data-target="#newDisclaimerSheetFormModal">
                                                Upload a new disclaimer sheet
                                            </button>
                                        </div>
                                    <% } %>

                                </div>
                            </div>
                        </div>

                        <div class="row engine-selector">
                            <h3>Select engine folder</h3>
                            <select class="form-control" name="engineFolder" id="engineFolder">
                                <% folderContent.forEach( function( item ){ %>
                                    <option value="<%= item%>"><%= item%></option>
                                <%  }); %>
                            </select>
                        </div>

                        <div class="row output-path">
                            <h3>Output path</h3>
                            <input class="form-control" type="text" name="outputPath" id="outputPath" value="<%= folderPath %>">
                        </div>

                        <div class="row zipBtnContainer">
                            <button id="zipCreatorBtn" class="btn btn-primary" disabled="true">Create Package</button>
                        </div>

                    </div>
                    
                    <div class="col-sm-5" style="height: 50px; overflow-y: visible;">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Chapter#(Folder)</th>
                                    <th>
                                        <label class="checkmark-container">
                                            <span>Select All</span>
                                            <input type="checkbox" id="selAll" name="selAll">
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <% folderContent.forEach( function( item ){ %>
                                    <% if ( item != 'engine') { %>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                </a>
                                                <%= item%>
                                            </td>
                                            <td>
                                                <label class="checkmark-container">
                                                    <span>Create ZIP</span>
                                                    <input type="checkbox" value="<%=item%>" id="<%=item%>" name="folder">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                        </tr>
                                    <%  } %>
                                <%  }); %>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </form>

        <div class="modal fade" id="newDisclaimerSheetFormModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload a new disclaimer sheet</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/uploadNewDisclaimerSheet" method="post" enctype="multipart/form-data">
                            <input class="form-control" type="file" name="newDisclaimerSheet" id="newDisclaimerSheet" required>
                            <input class="form-control" type="text" name="newDisclaimerSheetName" id="newDisclaimerSheetName">
                            <button class="btn btn-primary" id="newDisclaimerSheetBtn">Upload</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <!-- jQuery library -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- custom JS -->
    <script src="/assets/js/folder-explore.js"></script>

</body>

</html>