<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>Finish! Packages created!!</title>
</head>
<body>

    <h1>Packages created successfully</h1>

    <div style="margin: 30px 0px 0px 20px;font-size: 15px;color: blue;" >Output location: <code><%= outputPath %></code></div>
    
    <br><br>
    <h4>Package list: </h4>
    <% output.forEach( function( item ){ %>
        <b><code><%= item %></code></b><br>
    <%})%>

    <br><br><br>
    <button class="btn btn-primary" id="backKey">Back to File explorer</button>

    <!-- jQuery library -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script>
        var backKey = document.referrer;
        
        $('#backKey').on('click', function() {
            location.href = backKey;
        })
    </script>
    
</body>
</html>